$main: #884654;
$primary: #784662;
$secondary: #634869;
// $main: #4d4a69,
// $main: #3a4a63,
// $main: #2f4858,
$text: #f0ebe3;

*   
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: $main;

}
    